<h1>BURGER DEALS ON <%=@day.name.upcase%></h1>

<form action='/days/day.id' method='get'>
  <label style = "margin-left:20px">Find deals by day</label>
      <select name = "day_id">
          <% for day in @days %>
            <option value = "<%= day.id %>" > <%= day.name %> </option>
          <% end %>
      </select>
    <input class = "btn" type = "submit" value = "Find"></input>
</form>


<div class = "container">

  <% if @found_burgers.count == 0 %>
      <h2> <%= @emptys.shuffle[0] %> </h2>
      <h2> on <%= @day.name %>s </h2>

  <% else %>

  <ul class="table_header">
    <li class="table_item"> <img src = "/images/icon_burger.png" style = "max-width: 10%"/><h3>Burger</h3> </li>
    <li class="table_item"> <img src = "/images/icon_restaurant.png" style = "max-width: 10%"/><h3>Restaurant</h3> </li>
    <li class="table_item"> <img src = "/images/icon_offer.png" style = "max-width: 10%"/><h3>Deal</h3> </li>
    <li class="table_item"> <img src = "/images/icon_day.png" style = "max-width: 10%"/><h3>Available</h3> </li>
    <li class="table_item"> <img src = "/images/icon_view.png" style = "max-width: 10%"/><h3>View</h3></li>
    <li class="table_item"> <img src = "/images/icon_fave.png" style = "max-width: 10%"/><h3>Bellylicious</h3></li>  
  </ul>

    <%for burger in @found_burgers%>
        <ul class="table_container">
          <li class="table_item"> <p> <%= burger.name %> </p> </li>
          <li class="table_item"> <p> <%= burger.restaurant["name"] %> </p> </li>
          <li class="table_item"> <p> <%= burger.deal %> </p> </li>
          <li class="table_item"> <p> <%= burger.day_available %>s </p> </li>
          <li class="table_item"> <a class = "a_btn" href = "../burgers/<%=burger.id%>">Details</a></li>
          <li class="table_item"> <p> <%= burger.likes %> </p> 
            <form action = "/burgers/<%= burger.id %>/burger/like" method = "post">   
              <input class = "btn" style = "width: 70px" type = "submit" value = "Like"/>
            </form>
          </li>

        </ul>
    <%end%>

  <% end %>

</div>




