<h1>BURGER DEALS ON <%=@day.name.upcase%></h1>

<form action='/days/day.id' method='get'>
  <label style = "margin-left:20px">Find deals by day</label>
      <select name = "day_id">
          <% for day in @days %>
            <option value = "<%= day.id %>" > <%= day.name %> </option>
          <% end %>
      </select>
    <input class = "btn" type = "submit" value = "Find"></input>
</form>


<div class = "container">
  <%for burger in @found_burgers%>
    <div class = "cards">
      <p><strong>Burger:</strong> <%= burger.name %> </p>
      <p><strong>Restaurant:</strong> <%= burger.restaurant["name"] %> </p>
      <p><strong>Deal:</strong> <%= burger.deal %> </p>
      <p><strong>Offer available on:</strong> <%= burger.day_available %>s</p>

      <a href = "/burgers/<%=burger.id%>">View Burger</a>
    </div>
  <%end%>

<h2>
  <% if @found_burgers.count == 0 %>
  <%= @emptys.shuffle[0] %> Empty BURGERBELLY on <%= @day.name %>s
  <% end %>
</h2>
</div>