<h1>Burger Deals available on <%=@day.name%></h1>

<form action='/days/day.id' method='get'>
  <label>Find deals by day</label>
      <select name = "day_id">
        <option selected disabled> Select Day </option>
          <% for day in @days %>
            <option value = "<%= day.id %>" > <%= day.name %> </option>
          <% end %>
      </select>
    <input type = "submit" value = "Find Burgers"></input>
</form>


<div class = "container">
  <%for burger in @found_burgers%>
    <div class = "cards">
      <p>Type: <%= burger.name %> </p>
      <p>Restaurant: <%= burger.restaurant %> </p>
      <p>Deal: <%= burger.deal %> </p>
      <p>Offer available on: <%= burger.day_available %>s</p>

      <a href = "/burgers/<%=burger.id%>">View Burger</a>
    </div>
  <%end%>
</div>