<h1>All Burgers!</h1>


<%for burger in @burgers%>
  <div>
    <p>Type: <%= burger.name %> </p>
    <p>Restaurant: <%= burger.restaurant %> </p>
    <p>Deal: <%= burger.deal %> </p>
    <p>Offer available on: <%= burger.day_available %>s</p>
    <a href = "burgers/<%=burger.id%>/edit">More Details</a>
  </div>
<%end%>


