<h2>TWEEK THE BURGERBELLY</h2>
<div class = "form">
<form action = "/burgers/<%= @burger.id %>" method = "post">

  <p>
    <label>
    Burger:
      <input type = "text" name = "name" value = "<%= @burger.name %>" />
    </label>
  </p>

<!-- NEED TO FIX THIS TO DEFAULT ON THE INTIALLY SELECTED DAY -->
  <p>
    <label>
    Restaurant:
      <select name = "restaurant_id">
              <% for restaurant in @restaurants %>
                <option value = "<%= restaurant.id %>" > <%= restaurant.name %> </option>
              <% end %>

            </select>

        <input type="text" name="restaurant" />
    </label>
  </p>  
  
  <p>        
    <label>
    Deal:
      <input type = "text" name = "deal" value = "<%= @burger.deal %>" />
    </label>
  </p>

  <p>
    <label> Day Available </label>


    <select name = "day_id">




      <% for day in @days %>
          <option <%= "selected" if day.name == @burger.day_available %> 
         value = "<%= day.id %>" > <%= day.name %> </option>
      <% end %>  
    </select>

  </p>

  <input class = "btn" type = "submit" value = "Update"/>


</form>

</div>