<h2>AWW THE BURRRGGGERS</h2>

<form action='/days/day.id' method='get'>
  <label style = "margin-left:20px"> Find deals by day </label>

  <select name = "day_id">

      <% for day in @days %>
        <option value = "<%= day.id %>" > <%= day.name %> </option>
      <% end %>
  </select>


    <input class = "btn" type = "submit" value = "Find"></input>
</form>

<div class ="container">

    <ul class="table_header">
      <li class="table_item"> <h3>Burger</h3> </li>
      <li class="table_item"> <h3>Restaurant</h3> </li>
      <li class="table_item"> <h3>Deal</h3> </li>
      <li class="table_item"> <h3>Available</h3> </li>
      <li class="table_item"> <h3>View</h3></li>
    </ul>

    <%for burger in @burgers%>
      <ul class="table_container">
          <li class="table_item"> <p> <%= burger.name %> </p> </li>
          <li class="table_item"> <p> <%= burger.restaurant["name"] %> </p> </li>
          <li class="table_item"> <p> <%= burger.deal %> </p> </li>
          <li class="table_item"> <p> <%= burger.day_available %>s </p> </li>
          <li class="table_item"> <a href = "burgers/<%=burger.id%>"> Details</a></li>
      </ul>
    <%end%>
</div>





