<h2>AWW THE BURRRGGGERS</h2>

<form action='/days/day.id' method='get'>
  <label style = "margin-left:20px"> Find deals by day </label>

  <select name = "day_id">

      <% for day in @days %>
        <option value = "<%= day.id %>" > <%= day.name %> </option>
      <% end %>
  </select>


    <input class = "btn" type = "submit" value = "Find"></input>
</form>

<div class = "container">

  <%for burger in @burgers%>
  <div class = "cards">
      <p><span>Burger:</span> <%= burger.name %> </p>
      <p><span>Restaurant:</span> <%= burger.restaurant["name"] %> </p>
      <p><span>Deal: </span> <%= burger.deal %> </p>
      <p><span>Offer available on:</span> <%= burger.day_available %>s</p>

      <a href = "burgers/<%=burger.id%>">View Burger</a>
  </div>
  <%end%>

</div>

