<h1>All Burgers!</h1>

<form action='/days/day.id' method='get'>
  <label>Find deals by day</label>

  <select name = "day_id">
    <option selected disabled> Select Day </option>
      <% for day in @days %>
        <option value = "<%= day.id %>" > <%= day.name %> </option>
      <% end %>
  </select>


    <input type = "submit" value = "Find Burgers"></input>
</form>

<div class = "container">

  <%for burger in @burgers%>
  <div class = "cards">
      <p><strong>Type:</strong> <%= burger.name %> </p>
      <p><strong>Restaurant:</strong> <%= burger.restaurant["name"] %> </p>
      <p><strong>Deal: </strong> <%= burger.deal %> </p>
      <p><strong>Offer available on:</strong> <%= burger.day_available %>s</p>

      <a href = "burgers/<%=burger.id%>">View Burger</a>
  </div>
  <%end%>

</div>

