<h2>WHAT'S THE DEALIO?!</h2>

<div class = "details_container">

  <ul class = "details_box">
    <li class = "details_text"> <h2> <%= @burger.deal %> on <%= @burger.name %>s</h2> </li>
    <li class = "details_text"> <h2> on <%= @burger.day_available %>s </h2> </li>
    <li class = "details_text"> <h4> <%= @burger.restaurant["name"] %> </h4> </li>
    <li class = "details_text"> <a href = http://<%= @burger.restaurant["web"] %> style = "margin-left: -2px" > <%= @burger.restaurant["web"] %> </a> </li>
    <li class = "details_text"> <p><%= @burger.restaurant["phone"] %></p> </li>
    <li class = "details_text"> <h5> Belly likes: <%= @burger.likes %> </h5> </li>
    

  <nav>
    <form action = "/burgers/<%= @burger.id %>/like" method = "post">
      <input class = "btn" type = "submit" value = "Like"/>
    </form> 
  &nbsp;
    <form action = "/burgers/<%= @burger.id %>/delete" method = "post">
      <input class = "btn" type = "submit" value = "Delete"/>
    </form>
  &nbsp;
    <form action = "<%= @burger.id %>/edit" method = "get">
      <input class = "btn" type = "submit" value = "Edit"/>
    </form>
  </nav>

  
  </ul>


  <% if @burger.restaurant["map"].length>1 %>
    <div class = "details_map">
      <img src = <%= @burger.restaurant["map"]  %> />
    </div>
  <%end%>
</div>

