<h2>WHAT'S THE DEALIO?!</h2>

<div class = "container">
<div class = "details_container">

  <ul class = "details_box">
    <li class = "details_text"> <h2 style = "text-align: left"> <%= @burger.name %>s</h2> </li>
    <li class = "details_text"> <h2 style = "text-align: left"> <%= @burger.deal %> on <%= @burger.day_available %>s </h2> </li>
    <li class = "details_text"> <h4> <%= @burger.restaurant["name"] %> </h4> </li>
    <li class = "details_text"> <p> <%= @burger.restaurant["address"] %> </p> </li>
    <li class = "details_text"> <a href = http://<%= @burger.restaurant["web"] %> style = "margin-left: -2px" > <%= @burger.restaurant["web"] %> </a> </li>
    <li class = "details_text"> <p> <%= @burger.restaurant["phone"] %> </p> </li>
    <li class = "details_text"> <h5> Belly likes: <%= @burger.likes %> </h5> </li>
    <li class = "details_text"> <h5> Reviews: <%= @burger.reviews.count %> </h5> </li>
    

  <nav>
    <form action = "/burgers/<%= @burger.id %>/like" method = "post">
      <input class = "btn" type = "submit" value = "ðŸ‘Like"/>
    </form> 
  &nbsp;
  <form action = "/reviews/<%= @burger.id %>/new" method = "get">
    <input class = "btn" type = "submit" value = "Review"/>
  </form> 
  &nbsp;
    <form action = "<%= @burger.id %>/edit" method = "get">
      <input class = "btn" type = "submit" value = "Edit"/>
    </form>
  &nbsp;
    <form action = "/burgers/<%= @burger.id %>/delete" method = "post">
      <input class = "btn" type = "submit" value = "Delete"/>
    </form>
  </nav>

  
  </ul>


  <% if @burger.restaurant["map"].length>1 %>
    <div class = "details_map">
      <img src = <%= @burger.restaurant["map"]  %> />
    </div>
  <%end%>

</div>

      <% if @burger.reviews.count > 0 %>
        <div class = "reviews_container">
          <h2>Reviews</h2>
          <%for review in @reviews%>
              <div class = "review_card">

                <div class = "review_details">
                <p><span>Username: </span> <%= review.username %> </p> 
                <p><span>Review: </span> <%= review.review%> </p>
                </div>


                  <form style = "text-align: right" action = "/reviews/<%= @burger.id %>/<%= @burger.reviews[0].id%>/delete" method = "post">
                    <input class = "btn" type = "submit" value = "Delete"/>
                  </form>

              </div>
          <%end%>
        </div>
      <%end%>

  </div>
</div>
