<h1>Restaurants</h1>

<div class ="container">

    <ul class="table_header">
      <li class="table_item"> <h3>Restaurant</h3> </li>
      <li class="table_item"> <h3>Address</h3> </li>
      <li class="table_item"> <h3>Website</h3> </li>
      <li class="table_item"> <h3>Phone</h3> </li>
      <li class="table_item"> <h3>Deals</h3></li>
    </ul>

    <%for restaurant in @restaurants%>
      <ul class="table_container">
          <li class="restaurant_table_item"> <p> <%= restaurant.name %> </p> </li>
          <li class="restaurant_table_item"> <p> <%= restaurant.address %> </p> </li>
          <li class="restaurant_table_item"> <p> <%= restaurant.web %> </p> </li>
          <li class="restaurant_table_item"> <p> <%= restaurant.phone%> </p> </li>
          <li class="restaurant_table_item"> <a href = "restaurants/<%=restaurant.id%>/burgers"> See Deals</a></li>

      </ul>
    <%end%>
</div>